:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(var(--hue), 100%, 20%);
  color: white;
  font-family: sans-serif;
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  border-color: black;
}

.start-btn,
.next-btn {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hide {
  display: none;
}

#score-container {
  background-color: white;
  color: black;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}



